.product-name-head-text {
  font-family: "Lora";
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 51px;
  text-align: center;
  color: #333333;
}
/* .mult-img-slider-div{
  position: relative;
  left: 0px;
  height: 500px;
  margin: 0 auto;
  border: 3px solid #73AD21;
}
.product-slider-image{
  position: absolute;
  height: 400px !important;
  left: 0px;
  top: 0;
  border: 3px solid #ef08ad;
} */
.mult-img-slider-div{
  position: relative;
}

.mult-img-slider-div .thumbs-wrapper {
  margin: 10px 0!important;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100px !important; */
  /* padding: 12% 0; */
}
.mult-img-slider-div .thumbs-wrapper .thumbs {
  padding: 0;
}
.slider-img .thumbs-wrapper img{
  width: 70px !important;
  height: 70px !important;
}
.slider-img img{
  width: 100% !important;
  height: 600px;
}
/* media query 720*/
@media screen and (max-width:"768") {
  .slider-img img{
    width: 100% !important;
    height: 500px !important;
  }
}
/* media query 1000px */
/* .badal-page .features-section > .carousel {
  width: 40%;
} */

.product-slider-image-div{

}
.width-of-select-input-unit{
  width: 343px !important;
}
@media screen and (max-width: 1100px) {
  .width-of-select-input-unit{
    width:fit-content !important;
  }
}

@media screen and (max-width: 767px) {
  .popup-modal-main {
    --bs-gutter-x: 0rem !important;
  }
}

.product-radio {
  background-color: #6d6969 !important;
  opacity: 100% !important;
  outline: red !important;
  border-radius: 50% !important;
}

.product-radio:checked {
  background-color: #534d4d !important;
  border-radius: 50% !important;
}

.product-radio-div {
  border: 1px solid #d8d8d8;
  opacity: 100% !important;
}

.productName-counter-para {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 12px !important;
  line-height: 20px !important;
  display: flex;
  align-items: center;
  color: #666666;
}

.productName-kg {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 10px;
  color: #000000;
}

.productName-counter-no {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #333333;
}

.productName-counter-pm-sign {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  background-color: #edf2f5;
  color: #c4c4c4;
}

.sanju {
  padding-right: calc(var(--bs-gutter-x) * 0.1) !important;
  text-align: center !important;
}

.productName-shipping-para {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  /* text-indent: 24px; */
  color: #666666;
}

.productName-extra-product {
  font-family: "Lora";
  font-style: normal;
  font-weight: normal;
  font-size: 29px;
  line-height: 37px;
  text-align: center;
  color: #333333;
}

@media screen and (max-width: 720px) {
  .sanju {
    width: 30% !important;
  }
}
