.shopping-container {
  margin-top: 60px !important;
  margin-bottom: 100px !important ;
  width: 83.7% !important;
  margin-left: 10.5% !important;
}

.margin-shop-toggle{
  margin-top: 11px !important;
}

.shop-remove{
  margin-top: 16px !important;
}

.shopping-cart-heading {
  font-family: "Lora";
  font-size: 32px;
}
.shopping-p-size {
  font-size: 12px;
  color: #5abf6b;
  font-family: "Lato";
}
.shopping-p2-size {
  font-size: 15px;
  font-family: "Lato";
}
.shopping-p3-size {
  font-size: 12px;
  font-family: "Lato";
}
.shopping-p4-size {
  font-size: 13px;
  font-family: "Lato";
}
.continue-shopping-text{
  color: #666666 !important;
  font-family: "Lato";
  transition: 0.7s !important;
  text-decoration: underline !important;
  line-height: 19px ;
  font-size: 14px;
}

.continue-shopping-text:hover {
  color: #252525 !important;
  font-family: "Lato";
  transition: 0.8s !important;
}

/* -----------------------order-summary-card ................. */

.order-summary-card {
  margin-left: 10%;
  margin-top: 6%;
  background: #efefef;
  width: 290px;
  height: 380px;
}
.order-summary-text {
  font-size: 15px;
  font-family: "Lato";
}
.order-summary-p1 {
  font-size: 12px;
  font-family: "Lato";
}
.order-summary-p2 {
  font-size: 13px;
  font-family: "Lato";
  color: #333333;
}
.free-home-delivery-div {
  height: 27px;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 19px;
  color: #666666;
}
.free-home-delivery-p {
  font-size: 12px;
  font-family: "Lato";
}
.free-home-delivery-p1 {
  font-size: 13px;
  font-family: "Lato";
}

.free-home-delivery-p2 {
  padding-left: 25%;
  font-family: 'Lato';
font-style: normal;
font-weight: bold;
font-size: 13px;
line-height: 19px;
text-align: right;
color: #333333;
}
.checkout-button {
  width: 100% !important;
  font-family: "Lato";
  font-size: 14px;
  color: #ffffff;
}

.shopping-counter {
  width: 31px;
  height: 40px;
  text-align: center;
  padding-top: 5px;
}
.btn-shopping-counter {
  width: 31px;
  height: 40px;
  background: #edf2f5;
  border: none;
}


@media screen and (max-width:991px){
  .order-summary-card{
    margin: 0 auto !important;
    max-width: 290px;
  }
} 

@media screen and (max-width:480px){
  .shopping-container{
    margin-left: 0% !important;
  }
}