.shopping-container {
  margin-top: 70px !important;
  margin-bottom: 100px !important ;
}

.shopping-cart-heading {
  font-family: "Lora";
  font-size: 32px;
}
.shopping-p-size {
  font-size: 12px;
  color: #5abf6b;
  font-family: "Lato";
}
.shopping-p2-size {
  font-size: 15px;
  font-family: "Lato";
}
.shopping-p3-size {
  font-size: 12px;
  font-family: "Lato";
}
.shopping-p4-size {
  font-size: 13px;
  font-family: "Lato";
}
.continue-shopping-text {
  color: #666666 !important;
  font-family: "Lato";
}

/* -----------------------order-summary-card ................. */

.order-summary-card {
  background: #efefef;
  width: 290px;
  height: 380px;
}
.order-summary-text {
  font-size: 15px;
  font-family: "Lato";
}
.order-summary-p1 {
  font-size: 12px;
  font-family: "Lato";
}
.order-summary-p2 {
  font-size: 13px;
  font-family: "Lato";
}
.free-home-delivery-div {
  height: 27px;
  background: #ffffff;
  border: 1px solid #e5e5e5;
}
.free-home-delivery-p {
  font-size: 12px;
  font-family: "Lato";
}
.free-home-delivery-p1 {
  font-size: 13px;
  font-family: "Lato";
}
.checkout-button {
  font-family: "Lato";
  font-size: 14px;
  color: #ffffff;
}
