.active-color {
    display: flex;
    justify-content: space-between;
    color: #7500d0 !important;
    font-weight: 600;
  }
  .User-Profile {
    display: flex;
    justify-content: space-between;
  }

  .hello-user-hand{
    background-color: rgb(121, 48, 240);
    border-radius: 50% !important;
  }