.collaborate-demo {
    padding-top: 3%;
  }
  .collaborate-Us-heading {
    font-family: Lora;
    font-size: 40px;
    line-height: 51px;
    text-align: left !important;
    color: #333333;
  }

  .collaborate-hr{
    color: #065934 !important;
    width: 84px !important;
    height: 4px !important;
    opacity: 100% !important;
  }

  .collaborate-Us-form {
    padding: 0 15%;
  }
  .collaborate-Us-form-input {
    height: 56px;
    background-color: #ffffff;
  }
  .collaborate-sent-message {
    padding: 2% 0px 8% 0px;
  }

  
  .collaborate-button {
    color: #ffffff;
    background: #BFB2FF !important;
    flex: none;
    flex-grow: 0;
    margin: 36px 0px 0px 0px;
    height: 54px;
    border-radius: 0px !important;
    white-space: nowrap;
    width: 35%;
    background-color: #bfb2ff;
    border: none;
  }
  
  .collaborate-button:hover {
    background-color: #7b61ff;
    border-radius: 10px;
    transition: .6s;
  }

  @media screen and (max-width:767px){
    .collaborate-button{
      width: 50% !important;
    }
  }

  @media screen and (max-width:520px){
    .collaborate-button{
      width: 65% !important;
    }
  }

  @media screen and (max-width:280px){
    .collaborate-button{
      width: 80% !important;
    }
  }