.partnership-opp {
  margin: 100px 0;
}

.partnership-opp-wrapper {
  text-align: center;
}

.partnership-opp-wrapper .text h2 {
  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 46px;
  text-align: center;
  color: #666666;
}

.partnership-opp-wrapper .text hr {
  background: #666666;
  border: 1px solid #c4c4c4;
  width: 48px;
  margin-left: auto;
  margin-right: auto;
}

.partnership-opp-wrapper .btns {
  margin: 2rem 0;
}

.partnership-opp-wrapper .btns button {
  padding: 1rem;
  width: 238px;
  background: #f3f3f3;
  color: #333;
  border-radius: 10px;
  border: none;
  text-transform: uppercase;
  font-family: "Lato";
  font-size: 0.8rem;
  line-height: 17px;
  text-align: center;
  margin: 0 1rem;
}

.partnership-opp-wrapper .btns button:active {
  outline: none;
}

.partnership-opp-wrapper .btns .active {
  background: #7b61ff;
  color: #fff;
}

.partnership-opp-wrapper .btns button:focus {
  outline: none;
}

.partnership-opp-wrapper .qr-code-container {
  width: 50%;
  margin: 0 auto;
}

.partnership-opp-wrapper .qr-code-container h5 {
  margin-bottom: 2.4rem;
  text-transform: uppercase;
}

.partnership-opp-wrapper .qr-code-container p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #666666 !important;
  text-decoration: none;
}

.partnership-opp-wrapper .qr-code-container .link {
  font-weight: 700;
}
/* .service-card-marginright{
  width: 240px !important;
} */
.service-card-title{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  background: #F3F3F3;
  font-size: 14px !important;
  width: 240px !important;
  height: 7vmin;
  margin: -16px 0 0 -17px !important;
}
.service-card-text{
  width: 247px;
  height: 148px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  color: #666666;
  font-size: 14px;
  line-height: 17px;
  text-align: justify;
  margin: 14px 0 0 -16.5px !important;
}
.service-cart-button-div{
  margin: 0 0 -16.5px -16px !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 240px !important;
  height: 43px;
  background: #DBF8E6 !important;
  font-family: 'Lato' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  color: #000 !important;
  outline: none !important;
  border: none !important
}

@media screen and (max-width: 767px) {
  .partnership-opp {
    margin-top: 50px !important;
  }
  .partnership-opp-wrapper .qr-code-container {
    width: 100%;
  }

  .partnership-opp-wrapper .btns button {
    margin: 0.8rem 0;
  }
  .service-card-display-configuration{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
  }
  .service-card-marginright{
    margin-right: 0px !important;
    margin-bottom: 50px;
  }
  .service-card-title{
    width: 240px !important;
    height: 45px;
  }
  .service-card-text{
    width: 247px;
    height: auto;
  }
  .service-cart-button-div{
    width: 240px !important;
    height: 43px;
    margin-top: 10px !important;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1192px) {
  .service-card-title{
    width: 20vw !important;
    height: 6vmin;
  }
  .service-card-text{
    width: 20vw !important;
    height: 193px !important;
    margin-bottom: 10px !important;
  }
  .service-cart-button-div{
    width: 20vw !important;
    font-size: 12px !important;
  }
}
