#blog-post-page {
  max-width: 914px;
  margin: 0 auto;
  box-sizing: border-box !important;
  padding: 4%;
}

.blog-post-heading-para {
  font-family: "Lora";
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 51px;
  text-align: center;
  color: #333333;
}

.blog-post-heading-hr {
  margin-top: 10px;
  width: 48px;
  height: 2px;
  color: #c4c4c4;
  opacity: 100%;
  margin: 0 auto;
}

.blog-post-blogTitle {
  font-family: "Lora";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  color: #333333;
}

.blog-post-blogDate {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  color: #2b2b2b;
}

.blog-post-blogPara {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: justify;
  color: #333333;
}

.blog-post-img-two{
    width: 75% ;
    margin: 0 auto;
}

.rectcontainer {
    height:30px;
    width:100px;
}

.arrowblock {
    width:130px;
    border-top: 15px solid transparent;
}
.arrowright {
float:right;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 30px solid green;
}
.rect {
    width:100px;
    height:10px;
    background-color:transparent;
}