.about-header-img {
  background: url(../../assets/images/about/about-page-image.svg);
  background-repeat: no-repeat !important;
  background-size: 100% auto;
  background-position: center;
  margin-bottom: 4%;
  position: relative;
  height: 604px;
  max-width: 100%;
}

/* @media screen and (min-width: 1200px) {
  .about-header-img {
  }
} */

.about-header-text {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-20%, -50%);
  width: 410px;
}

.about-header-text h2 {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.18rem;
  color: #dbf8e6;
}

.about-header-text p {
  font-family: "Lato", sans-serif;
  /* font-weight: 700; */
  font-size: 1.06rem;
  line-height: 1.5rem;
  padding-left: 5px;
  color: #edf2f5;
}

/* .about-header-img-text {
  font-family: "Lora";
  font-size: 40px;
  line-height: 51px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 0% !important;
} */

.about-header-hr {
  width: 48px !important;
  color: #fff !important;
  opacity: 100% !important;
  height: 2px !important;
}

@media screen and (max-width: 767px) {
  .home-empower-img {
    background: url(../../assets/images/about/aboutHeaderMobile.png);
    background-repeat: no-repeat !important;
    background-size: 100% 100%;
  }

  .about-header-img-text {
    font-size: 32px;
    line-height: 41px;
    text-align: center;
    color: #ffffff;
  }

  .about-second-heading {
    font-size: 32px !important;
    margin: 1rem 0 0;
  }

  /* .about-header-text {
    padding: 13% 5%;
  } */

  .mobile-layout {
    align-items: center !important;
    flex-flow: column-reverse !important;
  }
}

@media screen and (max-width: 850px) {
  .about-header-img {
    background: url(../../assets/images/about/aboutHeaderMobile.png);
    background-size: cover;
    height: 225px;
    margin: 0;
  }

  .about-header-text {
    width: 80%;
    margin: 6% auto;
    position: static;
    transform: translate(0);
  }

  .about-header-text h2 {
    color: #333;
    font-size: 2rem;
    line-height: 2.2rem;
    padding-left: 5px !important;
  }
  .about-header-text p {
    /* font-size: 2rem; */
    color: #000;
    padding-left: 5px !important;
  }
}
