.about-newsroom-heading {
  font-family: Lora !important;
  font-size: 40px !important;
  line-height: 51px !important;
  text-align: center !important;
  color: #333333 !important;
}
.about-newsroom-gutter{
  --bs-gutter-x: 0rem !important;
}

.about-newsroom-hr {
  height: 2px !important;
  width: 48px !important;
  color: #c4c4c4 !important;
  opacity: 100% !important;
  margin: 0 auto !important;
}

.about-newsroom-head {
  font-family: Lora !important;
  font-size: 18px !important;
  line-height: 23px !important;
  color: #333333 !important;
}

.about-newsroom-date {
  font-family: Lato !important;
  font-size: 14px !important;
  line-height: 17px !important;
  color: #666666 !important;
}

.about-newsroom-card-para {
  font-family: Lato !important;
  font-size: 14px !important;
  line-height: 20px !important;
  color: #333333 !important;
}

