.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: #7474da !important;
  border: none;
  outline: none;
  background: #c0363600;
  opacity: 100% !important;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 34px;
  line-height: 0;
  opacity: 1 !important;
  color: #04040466 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.about-carousel-conatiner {
  padding: 0 10% !important;
}

.empowered-carousel-text {
  font-family: Lora;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #333333;
}
