.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: #7474da !important;
  border: none;
  outline: none;
  background: #c0363600;
  opacity: 100% !important;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 34px;
  line-height: 0;
  opacity: 1 !important;
  color: #04040466 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.about-empowered-container{
  margin-top: 70px !important;
}

.about-empowered-heading {
  font-family: 'Lora';
  font-size: 40px;
  line-height: 51px;
  text-align: center;
  color: #333333;
}

.about-empowered-top-hr{
  width: 48px !important;
  color:#C4C4C4 !important;
  height: 2px !important;
  opacity: 100% !important;
}

.about-carousel-conatiner {
  padding: 0 10% !important;
}

.empowered-carousel-text {
  font-family: 'Lora';
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #333333;
}

.about-empower-carousel-padding {
  padding: 9% !important;
}

.about-empower-hr {
  color: #c4c4c4;
  width: 80% !important;
  height: 2px !important;
  opacity: 100% !important;
  margin-top: 88px !important;
}
