@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

.about-second-heading {
  font-family: "Lora";
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 51px;
  color: #000000;
}

.about-second-para {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
}

.about-who-first-hr {
  width: 20%;
  height: 3px !important;
  color: #065934;
  opacity: 100% !important;
}

.about-who-hr {
  margin-right: 0 !important;
}

.extra-about-text {
  margin: 3rem auto 0 !important;
  width: 65% !important;
}

.extra-about-text h2 {
  font-family: "Lato";
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: center;
  color: #338a27;
  margin-bottom: 1.2rem;
}

.extra-about-text p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.8rem;
  text-align: center;
  color: #333333;
}

@media screen and (max-width: 767px) {
  .parent {
    align-items: center;
  }

  .extra-about-text {
    margin: 1rem auto 0 !important;
    width: 83.33% !important;
  }

  .extra-about-text h2,
  .extra-about-text p {
    text-align: left !important;
  }
}
