@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lora&family=Red+Hat+Display&display=swap');

@import "../styles/homeCSS/home.css";
@import "../styles/aboutCSS/about.css";
@import "../styles/collaborateCSS/collaborate.css";
@import "../styles/contactCSS/contact.css";
@import "../styles/shopping/shopping.css";
@import "../styles/productCSS/product.css";
@import "../styles/buttonCSS/button.css";







a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.cg-herbal-container{
  width: 70% !important;
  margin: 0 auto;
}

@import "./headerCss/Header.module.css";
@import "./headerCss/SubHeader.module.css";
@import "./footerCss/Footer.module.css";
@import "./Home.module.css";
@import "./shopCss/Shop.module.css";
@import "./newsCss/infoNewsroom.module.css";
@import "./authCss/Login.module.css";
@import "./authCss/UseProfile.module.css";
@import "./authCss/Forgot.module.css";
@import "./authCss/addCard.module.css";






@media (min-width: 320px) and (max-width:768px) {
  
  .navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
    padding-left: 11px;
}
  .alternative-medicine{
    text-align: center;
}
.amazon-product{
  padding: 10px 5px;
}
.footer-cg-herbal{
  text-align: start;
  padding: 10px 90px;
}
.Copyright-area{
padding: 10px 45px;
}
.Grocery-foods{
  text-align: center;
}
}
