.main-haeder{
height: 107px !important;
}
.nav-link{
    font-family: Lora;
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 17px;
/* identical to box height */


color: #666666;
}
.nav-list{
    display: flex;
}

.nav-list li{
    list-style: none;
    padding-top:10px;
}



