.main-haeder{
height: 107px !important;
background-color: transparent;
}
.nav-link{
    font-family: Lora;
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 17px;
/* identical to box height */


color: #666666;
}
<<<<<<< HEAD

=======
>>>>>>> 388ed67b8b14b2ba1c74cc03a5911bd7c0e97991
.nav-list{
    display: flex;
}

.nav-list li{
    list-style: none;
    padding-top:10px;
}
<<<<<<< HEAD
=======

>>>>>>> 388ed67b8b14b2ba1c74cc03a5911bd7c0e97991


