.text {
  font-family: Lora;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

/* .text1 {
  height: 19.132415771484375px;
  width: 95.25251770019531px;
  left: 40.65673828125px;
  top: 319.1629638671875px;
  border-radius: nullpx; */
/* } */
.text1 {
    font-size: 12px;
}

.Add-to-chart-button{
    
  
    border-radius: 0px !important;
    background-color:#49DBC9 !important;
    border: none !important;
    
}