.sub-nav-link{
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
.sub-haeder{
     height: 50px;
     background: #065934 !important;
     color: #FFFFFF;
}
a {
    color: #0d6efd;
    text-decoration:none !important;
}
.sub-nav-new{
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}