.product-name-text {
    font-size: 32px;
    font-family: Lora;
  }
  .popup-paragraph1 {
    font-size: 12px;
    font-family: Lato;
  }
  .popup-paragraph2 {
    font-family: Lato;
    font-size: 12px;
    color: #5abf6b;
  }
  .popup-div {
    border-radius: 10px;
    background-color: #ffffff !important;
  }
  
  .popup-ul {
    font-size: 12px;
  }
  .popup-row {
    background: aliceblue;
    border-radius: 10px;
  }
  
  .select-quantity-text {
    font-size: 12px !important;
  }
  