.product-name-text {
  font-size: 32px;
  font-family: "Lora";
}
.popup-paragraph1 {
  font-size: 12px;
  font-family: "Lato";
}
.popup-paragraph2 {
  font-family: "Lato";
  font-size: 12px;
  color: #5abf6b;
}
.popup-div {
  border-radius: 10px;
  background-color: #ffffff !important;
}

.popup-ul {
  font-size: 12px;
}
.popup-row {
  background: aliceblue;
  border-radius: 10px;
}

.select-quantity-text {
  font-size: 12px !important;
}

.modal-dialog {
  max-width: 820px !important;
  height: 482px !important;
  margin: 0rem;
}
.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 0rem !important;
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  /* padding-right:1rem !important; */
  /* padding-left: 1rem !important; */
  /* margin-top: var(--bs-gutter-y); */
}

.popup-modal-img > span,
.popup-modal-img > span > span,
.popup-modal-img > span > span > img {
  height: 482px !important;
  width: 100% !important;
}
.btn-popup {
  position: absolute;
  z-index: 1;
  right: -6%;
  width: 40px;
  height: 38px;
}
svg {
  vertical-align: start !;
}

@media screen and (max-width: 720px) {
  .popup-modal-img > span > span > img {
    object-fit: contain !important;
  }
}

.popup-modal-main ul {
  list-style-type: none;
  height: 300px;
  overflow-y: scroll;
}

.popup-modal-main ul::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.popup-modal-main ul::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.popup-modal-main ul::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.popup-modal-main ul li {
  white-space: pre-wrap;
}
