.forest-lover-banner {
  background: url("../../assets/images/connect/forestLoverClub.png") no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;
}

@media screen and (min-width: 1200px) {
  .forest-lover-banner {
    background: url("../../assets/images/connect/forestLoverClub.png") no-repeat;
    background-size: cover;
    background-position: center;
    height: 76vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
  }
}

.forest-lover-banner .text {
  width: 100%;
  text-align: center;
}

.forest-lover-banner .text h2 {
  font-family: "Lora", sans-serif;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 11px;
  line-height: 51px;
}

.forest-lover-banner .text button,
.forest-lover-form button {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  text-align: center;
  color: #065934;
  background-color: #dbf8e6;
  padding: 13px 26px;
  border: none;
  outline: none;
}

.forest-lover-banner .text button:hover,
.forest-lover-banner .text button:active,
.forest-lover-form button:hover,
.forest-lover-form button:active {
  background-color: #5abf6b;
  color: #fff;
}

.forest-lover-content h2 {
  font-family: "Lora", sans-serif;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 11px;
  line-height: 51px;
  text-align: center;
  margin: 4rem 0 0;
}

.forest-lover-content hr {
  width: 48px;
  height: 0px;
  border: 1px solid #c4c4c4;
  margin: 0.9rem auto 4rem;
}

.forest-lover-content p {
  font-family: "Lora", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  color: #333333;
}

.forest-lover-form {
  text-align: center;
  margin: 0 0 4rem;
}

.forest-lover-form .input-container {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
  text-align: left;
}

.forest-lover-form .input-item label {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 1rem;
}

.forest-lover-form .input-item {
  width: 35%;
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.forest-lover-form .input-item input {
  width: 100%;
  padding: 0.5rem;
  background-color: #ffffff;
  border: 1px solid #c4c4c4;
  font-family: "Mulish", sans-serif;
}

.forest-lover-form .input-item input::placeholder {
  font-size: 16px;
}

@media screen and (max-width: 770px) {
  .forest-lover-banner {
    width: 100%;
    /* height: 50vh; */
    height: 225px;
  }

  .forest-lover-banner .text {
    width: 100%;
    margin: 2rem 0 !important;
    padding: 0 2rem !important;
  }

  .forest-lover-banner .text h2 {
    font-size: 24px;
    line-height: 32px;
  }

  .forest-lover-content h2 {
    margin: 2rem 0 0;
  }

  .forest-lover-content hr {
    margin: 0.9rem auto 2rem;
  }

  .forest-lover-content p {
    font-size: 16px;
    width: 80%;
    text-align: justify;
    margin: 0 auto 2rem;
  }

  .forest-lover-form .input-container {
    flex-wrap: nowrap;
    flex-direction: column;
    width: 80%;
  }

  .forest-lover-form .input-container .input-item {
    width: 100%;
  }
}
