.Text {
  color: #333333;

  font-family: Lora;
  font-size: 40px;
  font-weight: 400;
  line-height: 51px;
  letter-spacing: 0em;
}

.Line {
  height: 2px;
  width: 48px;
  /* margin: auto; */
  margin: 0 auto !important;
}

.para-div {
  justify-content: center;
}

.content {
  width: 50% !important;
  text-align: center !important;
}

.image7:hover {
  background-color: red;
}
.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  z-index: 3;
  top: 0;
  opacity: 0;
  color: #fff;
  width: 89%;
  height: 93%;
  /* max-width: 572px;   */

  transition: 0.5s ease;
  background-color: black;
}

.Gallery:hover .overlay {
  opacity: 0.5;
}
.image1 {
  position: relative;
  margin-bottom: 17px;
}

@media (max-width: 768px) {
  .image-gap {
    margin-top: 0px;
  }
  .Frame1 {
    height: 30vh !important;
  }
  .overlay {
    display: none;
  }

  .content {
    width: 70% !important;
  }
}
@media (max-width: 1400px) {
  .overlay {
    width: 87% !important;
    height: 91.5% !important;
  }
}
@media (max-width: 1200px) {
  .overlay {
    width: 85% !important;
    height: 90% !important;
  }
}
@media (max-width: 992px) {
  .overlay {
    width: 87% !important;
    height: 91.5% !important;
  }
}
@media (max-width: 444px) {
  .content {
    width: 95% !important;
    text-align: left !important;
  }
}

.Text-name {
  height: 284px;
  width: 273px;

  border-radius: nullpx;

  font-family: Lora;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  margin-top: 40% !important;
}

.Community-container {
  margin: 58px 0px !important;
}
