.Featured-products-hr {
  width: 48px;
  height: 2px !important;
  color: #a39f9f;
}
* {
  font-family: Lora;
}

.Featured-products-bottom-hr {
  color: #c4c4c4;
  height: 2px !important;
}

@media (max-width: 1200px) {
}
.image-div1 {
  width: 800px;
  margin: auto;
  display: inline-block;
  overflow-x: auto;
}
.image-div {
  float: right;
  width: 200px;
}
.overflow-style {
  overflow-x: auto;
  text-align: center;
}
