.Featured-products-hr {
  width: 48px;
  height: 1px !important;
  color: #c4c4c4;
  opacity: 100% !important;
}
.feature-products-text {
  font-family: "Lora", sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: #333333;
}

.feature-products-texts {
  font-size: 16px;
  color: #333333;
  font-family: "Lora", sans-serif;
  font-weight: 400;
  padding-left: 9px;
}

.featured-products-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.featured-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.featured-card .text {
  width: 90% !important;
  margin-top: 10px;
}

.featured-card .content {
  width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.featured-card .img {
  width: 336px;
  height: 200px;
  max-width: 300px;
  position: relative;
}

.featured-card .img > div {
  position: unset !important;
}

.featured-card .img .image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

@media (max-width: 1200px) {
}

.image-div1 {
  max-width: 900px;
  margin: 0 auto !important;
  /* display: inline-block; */
  /* overflow-x: auto; */
  /* white-space: nowrap */
}

.slick-next {
  right: 10% !important;
  z-index: 20;
}

.slick-prev {
  left: 10px !important;
  z-index: 20;
}

.image-div {
  /* float: left; */
  display: inline-block;
  width: 200px !important;
  overflow: hidden;
  text-align: center !important;
}
.overflow-style {
  /* overflow-x: auto; */
  /* text-align: center; */
}

.zoom-in-img-wrapper > span {
  overflow: hidden;
  border-radius: 50%;
}
.hover1 {
  overflow: hidden;
}

.hover1 {
  transition: 0.3s all ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -ms-transform: translateZ(0); /* IE 9 */
  -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
  transform: translateZ(0);
}

.hover1:hover {
  transform: scale(1.1);
}

.hover1.active {
  box-sizing: content-box !important;
  outline: 10px solid #5abf6b;
  outline-offset: -10px;
}

@media screen and (max-width: 800px) {
  .feature-products-text {
    font-size: 32px;
  }
  .zoom-in-img-wrapper > span {
    overflow: hidden;
    height: 110px !important;
    width: 110px !important;
  }
  .image-div {
    /* display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important; */
    width: 189px !important;
    overflow: hidden;
    text-align: center;
  }
  .feature-products-texts {
    font-size: 17px;
  }
  
}

.featured-card-image-for-overlay {
  position: relative;
  padding: 0;
  cursor: pointer;
  overflow: hidden;
}

.content-for-overlay {
  opacity: 0;
  font-size: 1.3rem;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: calc(100% - 88px);
  -webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  -ms-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  text-align: center;
  cursor: pointer;
}

.content-for-overlay:hover {
  opacity: 1;
}

.content-for-overlay .text {
  height: 0;
  opacity: 1;
  transition-delay: 0s;
  transition-duration: 0.4s;
}

.content-for-overlay:hover .text {
  opacity: 1;
  transform: translateY(70px);
  -webkit-transform: translateY(70px);
}

.content-for-overlay-big:hover .text {
  opacity: 1;
  transform: translateY(230px);
  -webkit-transform: translateY(230px);
}

@media screen and (max-width: 1000px) {
  .content-for-overlay {
    height: calc(100% - 80px);
  }
}
