.Featured-products-hr {
  width: 48px;
  height: 1px !important;
  color: #c4c4c4;
  opacity: 100% !important;
}
.feature-products-text {
  font-family: 'Lora';
  font-size: 40px;
  color: #333333;
}

.feature-products-texts {
  font-size: 19px;
  color: #333333;
  font-family: 'Lora';
}
@media (max-width: 1200px) {
}

.image-div1 {
  max-width: 800px;
  margin: 0 auto !important;
  /* display: inline-block; */
  /* overflow-x: auto; */
  /* white-space: nowrap */
}
.image-div {
  /* float: left; */
  display: inline-block;
  width: 200px !important;
 
}
.overflow-style {
  /* overflow-x: auto; */
  text-align: center;
}
.hover1:hover {
  box-sizing:content-box!important;
  outline: 10px solid #5abf6b;
  outline-offset: -10px;
}

