.home-head-img {
  background: url(../../assets/images/home/homeHeaderDesk.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 4% 0;
}

.home-head-img-mobile {
  display: none !important;
}

.home-header-head {
  font-family: Red Hat Display;
  font-weight: bold;
  font-size: 64px;
  line-height: 67px;
  color: #ffffff;
}

.home-forest-hr {
  width: 48px;
  opacity: 100% !important;
  height: 2px;
  color: #c4c4c4;
}

.home-header-para {
  font-family: Lato;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .home-head-img {
    display: none !important;
  }

  .home-head-img-mobile {
    display: block !important;
    /* background: url(../../assets/images/home/homeHeaderMobile.png); */
  }

  .home-header-head-mobile {
    font-family: Red Hat Display;
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    color: #333333;
  }

  .home-header-para-mobile {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #333333;
  }

  .home-header-head {
    font-size: 44px;
  }

  .home-header-para {
    color: #2c2c2c;
  }
}
