.home-empower-img {
  /* background: url(../../assets/images/home/homeEmpowerBg.png); */
  background-repeat: no-repeat !important;
  background-size: 100% 100% !important;
}

.home-empower-img-distance {
  padding: 9.6% 18%;
}

.home-empower-button {
  width: 142px !important;
  height: 43px !important;
  box-sizing: border-box !important;
}

.home-empower-img-para {
  font-family: "Lato";
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

.home-empower-img-text {
  font-family: "Red Hat Display", sans-serif;
  font-size: 64px;
  line-height: 84px;
  font-weight: 700;
  text-align: center;
  /* color: #ffffff; */
  color: #ffe5b3;
}

@media screen and (max-width: 767px) {
  .home-empower-img {
    /* background: url(../../assets/images/home/HomeEmpoweredMobile.png) !important; */
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
  }

  .home-empower-img-distance {
    padding: 13% 5%;
  }

  .home-empower-img-text {
    font-size: 32px !important;
    line-height: 41px !important;
  }

  .home-empower-img-para {
    font-size: 16px !important;
    line-height: 28px !important;
  }
}
