.home-head-img {
  /* background: url(../../../public/Image/HerbalRemedies.png); */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 10% 0;
}

@media screen and (min-width: 1200px) {
  .home-head-img{
    height: 480px
  }
}

.home-head-img-mobile {
  display: none !important;
}

.home-head-text-mobile {
  display: none !important;
}

.home-header-button {
  width: 159px !important;
  height: 43px !important;
  box-sizing: border-box !important;
}

.home-header-head {
  font-family: "Red Hat Display";
  font-weight: bold;
  font-size: 64px;
  line-height: 67px;
  color: #ffffff;
}

.home-forest-hr {
  width: 48px;
  opacity: 100% !important;
  height: 2px;
  color: #c4c4c4;
}

.home-header-para {
  font-family: "Lato";
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .home-head-img {
    display: none !important;
  }

  .home-head-img-mobile {
    display: block !important;
    /* background: url(../../assets/images/home/homeHeaderMobile.png); */
  }

  .home-head-text-mobile {
    display: block !important;
  }

  .home-header-head-mobile {
    font-family: "Red Hat Display";
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    color: #333333;
    width: 70%;
    margin-bottom: 4px !important;
  }

  .home-header-para-mobile {
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #333333;
  }

  .home-header-head {
    font-size: 44px;
  }

  .home-header-para {
    color: #2c2c2c;
  } 
}

@media screen and (max-width: 1000px) {
  .BannerBottomImages {
    display: none !important;
  }
}

.BannerBottomImagesRow > * {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.BannerBottomImages img {
  transition: 0.5s all ease-in-out;
}

.BannerBottomImages:hover img {
  transform: scale(1.3);
}

.SubImageContainer {
  position: relative;
  text-align: center;
  color: white;
}
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  size: 24px;
  line-height: 29px;
  font: "Lora"
}

.green {
  color: #338A27
}