.visit-the-shop-hr {
  color: #c4c4c4;
  height: 1px !important;
  opacity: 100% !important;
}

.visit-the-shop-div {
  margin: 0 8%;
}

.WildforestHoney-card-img1 {
  /* height: 550px !important; */
  width: 100%;
}
.VisitTheShop-cards {
  height: 270px;
  margin: auto;
}
.WildforestHoney-card {
  height: 556px;
  margin: auto;
}

@media (max-width: 992px) {
  .WildforestHoney-card {
    height: auto;
    width: 90%;
    margin-bottom: 8%;
  }
  .VisitTheShop-cards {
    width: 90%;
    height: auto;
    margin-bottom: 8%;
  }
}
@media (min-width: 992px) and (max-width: 1399px) {
  .visit-the-shop-div {
    margin: 0%;
  }
}
.hover-div {
  position: absolute;
  z-index: 2;
  bottom: 35%;
  right: 10%;
  opacity: 0;
  width: 102px;
  height: 34px;
  font-size: 19px;
}
.hover-div1:hover .hover-div {
  opacity: 100%;
}
.icon1-hover:hover {
  color: #7b61ff;
}
.icon2-hover:hover {
  color: #dd2528;
}
.icon3-hover:hover {
  color: #49dbc9;
}

.icon1-hover,
.icon2-hover,
.icon3-hover {
  color: #e5e5e5;
}
.visit-card-weight {
  font-family: Lora;
  font-size: 15px;
  color: #666666;
}

.visit-card-title {
  font-family: Lora;
  font-size: 18px;
  color: #333333;
  font-weight: normal !important;
}
