.visit-the-shop-button {
  background-color: #dbf8e6 !important;
  color: #065934 !important;
  border: none !important;
  border-radius: 0px !important;
  padding: 11px 24px !important;
  box-sizing: border-box !important;
}

.visit-the-shop-button:hover {
  background-color: #065934 !important;
  color: #dbf8e6 !important;
  border: none !important;
  border-radius: 8px !important;
  transition: 1s;
}
