.dark-button{
    background: #49DBC9;
    height: 40px;
    border: none;
    color: #FFFFFF;
    width: 100% !important;
    font-family: 'Lato', serif;
}
.dark-button:hover,
.dark-button.active{
    background: #5ABF6B;
}