.demo1 {
    padding-top: 3%;
  }

.contact-container{
  margin: 57px 0px !important;
}

.Contact-Us-heading {
    font-family: 'Lora';
    font-size: 40px;
    line-height: 51px;
    text-align: center !important;
    color: #333333;
  }
  
  .contact-form-hr {
    color: #c4c4c4;
    opacity: 100% !important;
    width: 48px;
    height: 2px;
  }
  
  .contact-para {
    font-family: 'Lora';
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #333333;
  }
  
  .Contact-Us-form {
    padding: 0 15%;
  }
  .Contact-Us-form-input {
    height: 56px;
    background-color: #ffffff;
    border-radius: 0px !important;
  }
  .contac-sent-message {
    padding: 2% 0px 0 0px;
  }
  .btn-contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background: #5abf6b !important;
    flex: none;
    flex-grow: 0;
    margin: 36px 0px 0px 0px;
    height: 54px;
    border-radius: 0px !important;
    white-space: nowrap;
    width: 35%;
  }
  
  .shiftToNeutralForm {
    transform: translateX(0%) translateY(-100%);
  }
  .shiftToLeft {
    transform: translateX(100%);
  }
  .maxheight{
    max-height: 600px;
    overflow: hidden
  }
  @media screen and (max-width:800px) {
    .maxheight{
      max-height: 780px;
      overflow: hidden
    }
  }
  