.main-haeder{
height: 107px !important;
background-color: transparent;
}
.nav-link{
    font-family: 'Lora';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 17px;
/* identical to box height */
color: #666666;
}

.shopping-icon:after{
    color: #5ABF6B !important;
}

.nav-list{
    display: flex;
}

.nav-list li{
    list-style: none;
    padding-top:10px;
}


.cg-header-a-tag{
    color: #666666 !important;
}
.cg-header-a-tag:hover{
    color: #666666 !important;
}
.ch-header-cart-icon{
    color: #5ABF6B;
}
.product-select{
background-color: transparent !important;
}

/* mobile-view */
.offcanvas{
    background-color:#f8f9fa;
}
.navbar-expand {
    flex-wrap: nowrap;
    justify-content: space-between !important;
}
.btn-close {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 0.25em 0.25em;
    color: #000;
    background-image: transparent url('/public/images/MenuBurger.png');
    border: 0;
    border-radius: 0.25rem;
    opacity: .5;
}

.nav-link{
    color: #666666 !important;
}


.nav-link:hover,
.nav-link.active{
    color: #198754 !important;
}